# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/
venv/

.idea/
*.pyc
.sqlite3
.db
__pycache__/
.pytest_cache/
*.log
.nuitka-cache/
dist/
*.build/
*.dist/
*.onefile-build/
installer-dist/
